body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  margin: 0 auto;
}

header{
  background: white;
  padding: 24px 16px;
  width: 100%;
  display: block;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: darkslategray
}

a:hover, a:active{
  color: green;
}

.container{
  width: 100%;
  display: flex;
}

nav{
  width: 20%;
  max-width: 240px;
  margin: 0 auto;
}

main{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 48px;
}

.folder{
  display: block;
  padding: 8px 16px;
}

.Note{
  margin: 0 auto;
  padding: 24px 16px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.Note__dates{
  margin: 16px 0;
}


ul, ol {
  list-style-type: none;
  margin-block-start: 0 ;
  padding: 0;
}

.NoteListNav__add-folder-button {
  margin: 20px auto;
}
.NoteListNav__add-folder-button:hover {
  background-color: #29862e;
  color: white;
}

.NoteListNav__folder-link {
  display: block;
  font-size: 20px;
  padding: 8px 16px;
  text-decoration: none;
  background: white;
  border-bottom: 1px solid lightgray;
}
.NoteListNav__folder-link:hover {
  color: green;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px green ;
}
.NoteListNav__folder-link.active {
  background-color: darkgreen;
  color: white;
}

.NoteListNav__num-notes {
  color: black;
  display: block;
  float: right;
  font-size: 10px;
  margin-top: 4px;
}

.NavCircleButton {
  font-size: 18px;
  padding: 16px 16px;
  display: block;
}

.NavCircleButton:hover {
  color: green;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px green ;
}

.NoteListMain__button-container{
  display: block;
}

.icon{
  font-size: 14px;
  margin: 0 8px 2px 0;
  color: inherit;
}

